<h2>Please Enter New Article Information</h2>


<form method="POST" action="/articles">
  <label for="articleTitle">Article Title</label>
  <input type="text" name="articleTitle" />

  <label for="articleBody">Article Text</label>
  <input type="text" name="articleBody" />

  <input type="submit" value="ADD NEW ARTICLE" />

</form>

<div>

</div>
<div>
  <a href="/articles" class="changes">BACK TO ALL ARTICLES</a>
</div>